/agenda_files
/amx-items
/auto-save-list
/bookmarks
/cache
/custom.el
/elpa
/ido.last
/network-security.data
/org-clock-save.el
/.persistent-scratch
/recentf
/smex-items
/tmp
/tramp
/url

# Ignore local changes
init-local.el
