/agenda_files
/amx-items
/auto-save-list
/bookmarks
/cache
/.cask
/custom.el
/elpa
/ido.last
/network-security.data
/org-clock-save.el
/org-gtasks-google.el
/persist
/.persistent-scratch
/quelpa
/recentf
/server
/smex-items
/tmp
/tramp
/transient
/url

# Ignore local changes
init-local.el

# Secrets
calendar.dat
client_secrets.json
oauth2.plstore
request/curl-cookie-jar
